.listItem {
	width: 25%;
	padding: 20px 15px 20px;
	background-color: powderblue;
}

.listItem h3 {
	margin-top: 0;
	line-height: 1;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
}

.listItem p {
	font-size: 16px;
	padding-bottom: 15px;
}

.listItem:nth-child(8n),
.listItem:nth-child(8n-2),
.listItem:nth-child(8n-5),
.listItem:nth-child(8n-7) {
	background-color:mediumspringgreen;
}

.listItem:hover {
	background-color:rgba(42, 102, 52, 0.596);
	color: white;
}
