ul {
    text-align: center;
}

.AllGameListItem button{
    color: white;
    background-color: steelblue;
    border-color:steelblue ;
    font-size: 50px;
    margin-bottom: 2px;
    height:fit-content;
    border-radius: 15px;
    width: 400px;
}

.AllGameListItem button:hover{
    background-color: white;
    color: steelblue;
    border-color: white;
}

