.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.modalBody{
	background: white;
	padding: 20px 50px 30px;
	max-width: 900px;
	width: 100%;
	max-height: 900px;
	position: relative;
}

.modal button {
    margin: 0;
    border: 0;
    padding: 0;
    background: hsl(216, 100, 50);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
	position: absolute;
	right: 0;
	top: -60px;
} 
   
.modal button:hover,
.modal button:focus {
	transform: rotateZ(90deg);
	background-color: grey;
}

