*{
	box-sizing: border-box;
}

h2 {
	margin: 15px 0;
}

body{
	font-family: "Quicksand", Times, Serif;
	background-color: dodgerblue;
}

h1 {
	margin: 0;
	font-size: 30px;
	padding: 5px 0 10px;
}

ul {
	padding: 0;
}

header{
	background-color: mediumspringgreen;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
}

.content {
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

nav {
	margin-top: 5px;
	font-size: 20px;
	padding-bottom: "1rem";
}

header h1{
	margin: 0;
	font-size: 30px;
	padding: 15px 0 10px;
}

header img{
	height: 100%;
	border-radius: 5px;
}

.search-box,
.input-box{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.input-box input,
.search-box input,
.search-box input {
	padding: 5px;
	border: 2px solid #5df499;
	border-radius: 4px;
	width: 50%;
}

.input-box input[type="number"]{
	border: 2px solid #5df499;
	border-radius: 4px;
	width: 20%;
}

.input-box__70-width input {
	width: 70%;
}

.input-box__half-width input {
	width: 100%;
	display: flex;
}

.input-box__half-width--space-between {
	display: flex;
	justify-content: space-between;
	width: 29%;
}

.gap--left {
	margin-left: 10px;
}

.input-box__half-width--space-between input[type="number"] {
	width: 50%;
}

.input-box input:focus,
.search-box input:focus,
textarea:focus {
	outline: 2px solid #38c46e;
}

.search-box label,
.input-box label{
	background: #5df499;
	width: 70px;
	margin: 2px 2px;
	padding: 1px 2px 3px 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	display: flex;
	justify-content: center;
}

.category-list {
	margin-bottom: 20px;
	width: 25%;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 1rem;
}

button {
    border: 3px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    /*background: yellow;*/
    height: 30px;
    font-weight: bold;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.5s;
	font-family: "Quicksand", Times, Serif;
	margin-right: 10px;
}

.game-list__button button{
    height: 50px;
}

button:not(:disabled):hover {
	background: rgb(0, 255, 0);
	color: white;
}

button:disabled {
	background: grey;
	font-style: italic;
	cursor: not-allowed;
}

/*Chris' Shit*/
.form__field {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	max-width: 300px;
}

.form__field label{
	width: 120px;
}

.form__field input {
	flex-grow: 1;
}

.form__field-min-max {
	display: flex;
}

.form__field-min-max input:last-child {
	margin-left: 10px;
}

.form__field-description textarea {
	height: 50px;
	resize: vertical;
	margin-bottom: 5px;
	font-family: "Quicksand", Times, Serif;
	padding: 5px;
	border: 2px solid #5df499;
	border-radius: 4px;
	width: 300px;
}

.form__field-description p {
	margin-bottom: 20px;
}

.form__field-description label {
	margin-bottom: 20px;
}

.category-list .tomiscool__control {
	border-color: #5df499; 
}

.category-list .tomiscool__multi-value {
	background-color: magenta;
}
.az__button {
	position: absolute;
}

.az__button,
.az__button-letter {
	background-color: steelblue;
	border: 0;
	right: 5%;
	top: 120px;
	margin: 0;
	height: 50px;
	color: white;
	font-size: 40px;
	border-radius: 15px;
}

button.az__button:hover,
button.az__button-letter:hover{
    background-color: white;
    color: steelblue;
}

.az__dropdown {
	padding: 10px;
	background-color: steelblue;
	border-radius: 15px;
	height: 400px;
	max-width: 300px;
	position: absolute;
	right: 5%;
	top: 120px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.az__button-letter:nth-child(4n) {
	margin-right: 0;
}

.az__button-letter {
	width: 60px;
	margin-right: 5px;
	background-color: cornflowerblue;
	align-content: center;
	padding: 0;
}

.az__button-close {
	width: 50px;
	justify-content: center;
	border-radius: 50%;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 120px;
	background-color: steelblue;
	color: white;
	margin-right: 0;
}

button.az__button-close:hover {
	transform: rotateZ(90deg);
}

button.az__button-letter-active {
    color: white;
	background-color:#0f5792;
}